.button{
    background: #D90718 0% 0% no-repeat padding-box;
    border: 1px solid #D90718;
    border-radius: 20px;
    opacity: 1;
    width: 107px;
    height: 32px;
}

.button:hover{
    background: #F2F2F2 0% 0% no-repeat padding-box;
}

.button:hover span{
    color: #D90718;
}

.button span {
    color: #F2F2F2;
    font-size: 12px;
    font-family: Gotham, serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
}