.notification {
    width: 522px;
    height: 70px;
    background-color: #1a8ed1;
    position: absolute;
    left: 700px;
    z-index: 100;
    top: 55px;
    color: white;
}

.close {
    margin-left: 500px;
    width: 20px;

}

.notification h2 {
    margin-top: -15px !important;
}

.notification h2,
.notification p {
    text-align: center;
    margin: 0;
}

.error {
    background-color: #690000;
}

.success {
    background-color: #1ad1b9;
}